@font-face {
    font-family: kalam-light-font;
    src: url("../fonts/Kalam-Light.ttf");
}

body, html {
    height: 100%;
}

.parallax1 {
    /* The image used */
    background-image: url("../images/imgcalijartandosabor.png");

    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax2 {
    /* The image used */
    background-image: url("../images/San Antonio.png");

    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.fondo-beige {
    background: #F3DDB8;
    width: 100%;
    height: 50%;
}

.fondo-beige-clarito {
    background: #FFEBD1;
    width: 100%;
    height: 50%;
}

.texto-historia {
    padding-left: 40%;
    padding-right: 40%;
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.imagen-gato {
    top: 10%;
    width: 60%;
    height: 120%;
    position: relative;

}

.imagen-historia {
    top: -35%;
    width: 75%;
    height: 120%;
    position: relative;
}

.fondo-beige-anaranjado {
    background: #F4B989;
    width: 100%;
    height: 70%;
}

.imagen-cholado {
    top: -30%;
    width: 75%;
    height: 110%;
    position: relative;
}

.imagen-contactanos {
    background-image: url("../images/Contactanos.png");
    /* Full height */
    width: 100%;
    height: 50%;

    /* Create the parallax scrolling effect */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.texto-links1 {
    padding-left: 10%;
    padding-top: 10%;
    color: white;
    font-size: 150%;
    font-family: kalam-light-font;
}

.texto-links2 {
    padding-left: 10%;
    padding-top: 2%;
    color: white;
    font-size: 150%;
    font-family: kalam-light-font;
}

.texto-links3 {
    padding-left: 10%;
    padding-top: 2%;
    color: white;
    font-size: 150%;
    font-family: kalam-light-font;
}

.texto-contactanos {
    padding-left: 45%;
    padding-top: 8%;
    color: white;
    font-size: 250%;
    font-family: kalam-light-font;
}

.by {
    color: white;
    padding-left: 2%;
    font-family: kalam-light-font;
}